.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  box-sizing: border-box;
}
.navbar{
  background-color: grey;
}

body{
  margin: 0px;
}

.appName{
  text-align: center;
  color: white;
  padding: 0px 20px;
}
.btnContainer{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.btnContainer .btn{
  border-radius: 0px;
  width: 150px;
  border: 1px solid black;
  background-color: grey;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
#previewText{
  white-space: pre-wrap;
}
#myBox{
  border: 2px solid black;
}
.colorContainer{
  display: flex;
  flex-direction: row;
}
.colorBox{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 5px;
}
.blue{
  background-color: blue;
}
.black{
  background-color: black;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.white{
  background-color: white;
}
.green{
  background-color: green;
}
textarea{
  outline: none !important;
  box-shadow: none !important;
}
.aboutPageBtn, .homePageBtn{
  border:none;
  background-color:rgba(0, 0, 0, 0);
}
.aboutPageBtn:hover, .homePageBtn:hover{
 text-decoration: underline;
}
.aboutPageContainer{
  display: none;
}
.faviconInTitle{
  height: 30px;
}
.underlinedHeading{
  text-decoration: underline;
}
.textSummary{
  display: flex;
  flex-wrap: wrap;
}
